dataweave-demo/src/main/mule/dataweave-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="dataweave-demoFlow" doc:id="c7886334-b441-4b73-89b7-0d52ad8d5464" >
		<ee:transform doc:name="Transform JSON to ALL TYPES" doc:id="a8259bac-f487-4bd8-a918-18bf63ddf28b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
 {
	empID: payload.empID,
	empName: payload.empName,
	empEmail: payload.empEmail,
	empStatus: payload.empStatus
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dataweave-demoFlow1" doc:id="476ef276-8fdf-41f2-96e8-e22f4fc918fa" >
		<ee:transform doc:name="Transform XML to ALL TYPES" doc:id="79583de8-e270-4f26-a67c-2008fd881704" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	item: {
		price: payload.book.price,
		properties: {
			title: payload.book.title,
			author: payload.book.author,
			year: payload.book.year,
			lungage: payload.book.title.@lang
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dataweave-demoFlow2" doc:id="394e8479-1e89-4b78-a87c-0f041054e936" >
		<ee:transform doc:name="Transform Attributes Based JSON to XML" doc:id="7f701bba-9d9b-4512-a38c-61defc3cc9f0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	book: {
		title @(lang: payload.item.properties.lungage): payload.item.properties.title,
		price: payload.item.price,
		author @(loc: "US"): payload.item.properties.author[0]
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dataweave-demoFlow3" doc:id="dcfb57f1-2314-46c0-ac3f-fe7aef067b9e" >
		<ee:transform doc:name="Transform JSON to CSV" doc:id="d29501c3-7af9-434f-a300-0f8035a74c6f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
{
	empID: payload.empID as Number,
	empName: payload.empName,
	empEmail: payload.empEmail,
	empStatus: payload.empStatus
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dataweave-demoFlow4" doc:id="2a0daf2c-6748-4a5a-bbab-9f7fe03ebcf8" >
		<ee:transform doc:name="Transform XLSX to JSON" doc:id="e4691cb6-86a0-4b7d-ad47-404e429e93e1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
