read-different-data-types/src/main/mule/read-xml-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="read-xml-demoFlow" doc:id="4d7ddd61-5a1f-4747-92fd-d635a34c0a4b" >
		<http:listener doc:name="Listener" doc:id="dc8652ff-9de5-4e61-8636-d399015f7a4d" config-ref="HTTP_Listener_config" path="read-xml" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="6cf10acb-b657-4269-a360-ef6abb2236b7" message="#[payload.employee.employeeName]"/>
		<logger level="INFO" doc:name="Logger" doc:id="4b61cf58-a20a-4c4f-bb80-ba8c4310d706" message="#[payload.employee.employeeName]"/>
	</flow>
</mule>
